@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

* {
    box-sizing: border-box;
    

}

/* Media querie*/

/* Mobile */

@media only screen and (max-width:480px) {
    body{
        background-color: yellow;
    }
}

/* tablet */

@media only screen and (min-width:481px) and (max-width: 950px) {
    body{
        background-color: red;
    }
}

html,body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color:white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(177, 172, 172, 0.329);
}

.main-nav {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(177, 172, 172, 0.329);
}

.main-header {
    background-color: green;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ecoproductos-titulo {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    
}

.ecoproductos-titulo-large {
    font-size: 3em;
    color: green;
}

.content-section {
    margin: 1em;
}


.section-header {
    font-weight: normal;
    color: green;
    text-align: center;
    font-size: 4em;
}

.imagen-distribuidor {
    float: left;
    height: 100px;
    width: 100px;
    margin: 5px;
    border-radius: 50%;
}

.main-footer {
    background-color: green;
    color: white;
    padding: .25em 0;
    bottom: 0;
    margin-top: auto;
}

.main-footer-container {
    align-items: center;
}

.main-footer.container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.imagen-principal {
    width: 500px;
    height: 500px;
}

.data-fiscal {
    width: 100px;
    height: 100px;
}



table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.map {
    display: block;
    height: 200px;
    padding: 20px;
}

.horticola-page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;    
    align-items: baseline;
}

.horticola {
    margin: 5px;
    height: 401px;
    width: 210px;    
}

.calendario {
    width:210px;
}